@inherits UmbracoViewPage<McLarenUmbraco.Models.EmailModel>

@using McLarenUmbraco.Controllers;

@using (Html.BeginUmbracoForm<EmailController>("SubmitForm"))
{
    <div class="form-group" style="padding: 0 1.8em;">
        <div class="field">
            @Html.LabelFor(model => model.Name, "Name*", new { @class = "form_label" })
            @Html.TextBoxFor(model => model.Name, new { @class = "form_input" })
        </div>

        <div class="field">
            @Html.LabelFor(model => model.Email_Address, "Email", new { @class = "form_label" })
            @Html.TextBoxFor(model => model.Email_Address, new { @class = "form_input" })
        </div>

        <div class="field">
            @Html.LabelFor(model => model.Subject, new { @class = "form_label" })
            @Html.TextBoxFor(model => model.Subject, new { @class = "form_input" })
        </div>
    </div>

    <div class="form-group">
        @Html.TextAreaFor(model => model.Message, new { @class = "form_textarea", @placeholder = "Message" })
    </div>

    <button class="button button--border--solid">Send</button>
}