@inherits UmbracoViewPage<McLarenUmbraco.Models.EmailModel>

@using (Html.BeginUmbracoForm("SubmitForm", "Email"))
{
    <div class="row">
        @Html.LabelFor(model => model.Recipient)
        @Html.TextBoxFor(model => model.Recipient)
    </div>

    <div class="row">
        @Html.LabelFor(model => model.Subject)
        @Html.TextBoxFor(model => model.Subject)
    </div>

    <div class="row">
        @Html.LabelFor(model => model.Message)
        @Html.TextAreaFor(model => model.Message)
    </div>
}